<ion-header [translucent]="true" class="background_img">
  <ion-toolbar class="background_img">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


<div class="detail-bx">

	<ion-item class="item_new" lines="none">

        <ion-thumbnail slot="start" class="img_thumb">
          <img src="/assets/icon/gk.png">
        </ion-thumbnail>

        <div class="right_sed">
          <p>Win</p>
          <h5>$5000</h5>
        </div>
      </ion-item>

</div>

<div class="listbx">
	<ion-list class="list_new" lines="none"> 

        <div class="que">
        	<p>Question is here, Question is here, Question is here,?</p>
        </div>


	      <ion-item class="item_new">
            <ion-button routerLink="/result" expand="block" color="trans">Option 1</ion-button>
          </ion-item>
          <ion-item class="item_new">
            <ion-button routerLink="/result" expand="block" color="trans">Option 2</ion-button>
          </ion-item>
          <ion-item class="item_new">
            <ion-button routerLink="/result" expand="block" color="trans">Option 3</ion-button>
          </ion-item>
    </ion-list>
    
   
   <div class="text_bs">
   	 <div class="mg_5 center">Your Score: <span>10</span></div>
   </div>
  

   <br>



</div>



</ion-content>
