<ion-header [translucent]="true" class="background_img">
  <ion-toolbar class="background_img">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
	
	<ion-list routerLink="/winner" class="list_new" lines="none">

      <div class="back_item" *ngFor="let item of [].constructor(15); let i = index">

         <ion-row>
          <ion-col size="6" class="left-1">
            <p>Everybody Win Cash</p>
          </ion-col>
        
        </ion-row>


      <ion-item class="item_new">

        <div class="right_sed">
          <img src="/assets/icon/cricketplyer.png">
          <br>
          <p>player Name</p>
        </div>

        <div class="vs">VS</div>

        <div class="right_sed">
          <img src="/assets/icon/cricketplyer.png">
          <br>
          <p>player Name</p>
        </div>

        <div class="right_sed">
          <p>Predict & Win</p>
          <h5>$50</h5>
        </div>


      </ion-item>

      <ion-row>
          <ion-col size="4">
            <h5 class="green">84454 Users playing</h5>
          </ion-col>
          <ion-col size="4">
           <div class="mg_5 color_ent">Entry <img class="coin" src="/assets/icon/coin.png"> <span>$50</span></div>
          </ion-col>
          <ion-col size="4">
            <ion-button class="prime" color="tertiary">check Winner</ion-button>
          </ion-col>
        </ion-row>

      </div>



    </ion-list>
</ion-content>
