ion-content.background{
    --background:transparent;
}
ion-header.background_img{
    --background:transparent;
}
ion-toolbar.background_img{
    --background:transparent;
}
ion-segment-button.segment-main{
	width:14.28%;
	min-width:auto;
	align-items: center;
	background:#fff;
	border-right: 2px solid #f1f1f1;
	padding-top: 6px;
	border-radius: 0;
}
ion-label.segment-label{
	font-size: 7px;
	text-transform: capitalize;
	line-height:10px;
	margin: 5px 0 5px;
}
.center{
	text-align:center;
}
.coin{
	width: 16px;
}
.coin2{
	width: 20px;
}
.top_ico{
	padding:0 35px;
}
.mg_5{
	margin:5px 0;
	color:#fff;
	font-size:11px;
}
ion-segment.segment-main-dv{
	position: fixed;
	z-index: +111;
	border-radius:0;
}
ion-list.list_new{
	background: transparent;
	margin-top: 50px;
	margin-bottom: 50px;
}
.right_sec {
	width: 100%;
	align-items: center;
	display: flex;
	background: #c6c6c652;
	border-radius: 6px;
	padding: 0 10px;
}
.right_sec img {
	width: 13px;
	display: flex;
	float: left;
}
.right_sec p {
	padding-left: 5px;
	margin: 10px 10px;
	font-size: 14px;
}
.right_sed {
	width: 100%;
	text-align: center;
	display: block;
	background: #fff;
	border-radius: 6px;
	padding: 10px 5px;
}
.right_sed img {
	width: 45px;
}
.right_sed p {
	padding-left: 5px;
	margin: 3px 0;
	font-size: 11px;
}
.right_sed h5{
	color: #742692;
	font-size: 18px;
	margin: 0px 0;
}
.left-1 p{
	margin: 4px 0;
	font-size: 11px;
}
.img_thumb img {
	padding: 10px;
	border: 1px solid #f1f1f1;
	border-radius: 10px;
}
.back_item{
	margin: 15px;
	border-radius: 10px;
	background: #fff;
	overflow: hidden;
	padding:5px;
}
.right p {
	font-size: 9px;
	margin-bottom: 5px;
	float: right;
	margin-right: 5px;
	margin: 5px 0 0;
}
.left h5 {
	font-size: 13px;
	margin: 2px 0px 0;
	font-weight: bold;
}
.green {
    font-size: 9px;
    color: green;
    font-weight: normal;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 0;
}
.item_new .item-inner {
  --border-style:none;
}

.item-native div{
	border-style:none;
	border:0;
}
ion-button.prime{
	font-size: 9px;
	text-transform: capitalize;
	height: 22px;
	width: 55px;
	float: right;
	margin: 0;
}
.img_thumb {
	margin-top: 0;
	margin-bottom: 0;
}
.mg_5.color_ent {
	color: #000;
	font-size: 10px;
	text-align: center;
	margin-top: 0;
	line-height: 0;
}
.mg_5.color_ent img{
	transform: translateY(4px);
	margin-right: 4px;
}
.title{
	color: #fff;
	font-size: 15px;
	padding: 10px 0;
}
ion-header.header-md::after {
	background-image:none;
}
.vs {
	font-size: 12px;
	color: #e1e1e1;
	font-weight: bold;
}
.mg_5.coin_class {
	margin-top: 10px;
}
.mg_5.coin_class img {
	transform: translateY(3px);
}
.font_size_r{
	margin:10px 0 5px;
	font-size:15px;
}
ion-chip {
    border-color: #fff;
    color: #fff;
    border-radius: 4px;
    padding: 5px;
    height: auto;
    font-size: 8px;
    width: 30%;
    text-align: center;
}
ion-toolbar ion-chip {
	border-color: #fff;
	color: #fff;
	border-radius: 4px;
	padding: 8px 4px;
	font-size: 9px;
	width: 95%;
	text-align: center;
}
.ion-padding-horizontal{
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: +1111;
	background: #3a287a;
	opacity: 1;
}
#ion-overlay-1 {
	--background: transparent;
}
.sc-ion-modal-md-h.sc-ion-modal-md-s.phone-modal.hydrated.show-modal {
	--background: transparent;
}
.coin3{
	width: 20px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
}