

<ion-content class="background">

	<div class="modal_nw">
		<div class="not_div">
			<img src="/assets/icon/alarm.png">
		</div>

		<ion-list>
          <ion-item>
            <ion-label>All Games</ion-label>
            <ion-toggle slot="start" name="blackberry" color="dark" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Coin Games</ion-label>
            <ion-toggle slot="start" name="blackberry" color="dark" checked></ion-toggle>
          </ion-item>
          <ion-item>
            <ion-label>Money Games</ion-label>
            <ion-toggle slot="start" name="blackberry" color="dark" checked></ion-toggle>
          </ion-item><ion-item>
            <ion-label>Mega Games</ion-label>
            <ion-toggle slot="start" name="blackberry" color="dark" checked></ion-toggle>
          </ion-item>
        </ion-list>

        <ion-icon class="close-icon" name="close-outline" (click)="dismiss()"></ion-icon>
	</div>

	
       
</ion-content>
