<ion-header [translucent]="true" class="background_img">
  <ion-toolbar class="background_img">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">


<div class="detail-bx">
	<!-- <ion-row>

		<ion-col size="5" class="center">
		<ion-thumbnail class="img_thumb">
          <img src="/assets/icon/gk.png">
        </ion-thumbnail>
		</ion-col>

		<ion-col size="7" class="center">
		
		</ion-col>
	</ion-row> -->

	<ion-item class="item_new" lines="none">

        <ion-thumbnail slot="start" class="img_thumb">
          <img src="/assets/icon/gk.png">
        </ion-thumbnail>

        <div class="right_sed">
          <p>Play & Win</p>
          <h5>$5000</h5>
          <p>View Rank Breakup</p>
        </div>
      </ion-item>

</div>

<div class="listbx">
	<ion-list class="list_new" lines="none"> 
	      <ion-item class="item_new">
            <ion-avatar slot="start">
              <img src="/assets/icon/check.png" />
            </ion-avatar>
            <ion-label class="lbl_p">
              <p>You get 90 seconds</p>
            </ion-label>
          </ion-item>
    </ion-list>
    <ion-list class="list_new" lines="none"> 
	      <ion-item class="item_new">
            <ion-avatar slot="start">
              <img src="/assets/icon/check.png" />
            </ion-avatar>
            <ion-label class="lbl_p">
              <p>Answer as many questions as you can</p>
            </ion-label>
          </ion-item>
    </ion-list>
    <ion-list class="list_new" lines="none"> 
	      <ion-item class="item_new">
            <ion-avatar slot="start">
              <img src="/assets/icon/check.png" />
            </ion-avatar>
            <ion-label class="lbl_p">
              <div class="mg_5 color_ent">Entry Fee: <img class="coin" src="/assets/icon/coin.png"> <span>50</span></div>
            </ion-label>
          </ion-item>
    </ion-list>
   
   <div class="text_bs">
   	 <div class="mg_5 center">Your Current Balance: <img class="coin" src="/assets/icon/coin.png"> <span>10</span></div>
    <p>You dont have enoughcoins in your wallet to play this quiz. Tap below to earn more coins.</p>
     <ion-button routerLink="/quiz" expand="block" color="light">Earn Coins</ion-button>
   </div>
  

   <br>



</div>



</ion-content>
